{% extends "base.html.twig" %}

{% block body %}

    <main>

        <header class="home-banner">
            <h1>Bienvenue chez <strong>Lojeris</strong></h1>
            <p>Votre partenaire de confiance en immobilier</p>
        </header>

        <section class="container">
            <h2>Nos dernières offres</h2>
            <div class="properties">

                {% for logement in logements %}
                    <div class="col-sm-6 col-md-4">
                        {% include 'logement/card.html.twig' with {'logement': logement} only %}
                    </div>
                {% endfor %}

            </div>
        </section>

    </main>

{% endblock %}
